* {
    font-family: 'News Reader', serif;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
  }

body {
    background-color: rgb(31, 31, 31);
}

h1{
    color: rgb(224, 198, 124);
    font-family: 'Lobster', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    font-size: 62px;
   }
h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    color:rgb(224, 198, 124);
    font-family: 'News Reader', sans-serif;
}

h3 {
    color:rgb(233, 212, 154);
}

p{
    font-size: 17px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content:center;

}
.botoes a {
    background-color: transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(49, 49, 49);
    border-top: 1px solid white;
    border-right: 2px solid white;
    font-size: 22px;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
}
.botoes a:hover{
    background-color: rgba(224, 197, 124, 0.521);
}

icons {
    justify-content: center;
}

.conteudo {
    max-width: 1000px;
    padding: 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(49, 49, 49);
}

.avatar_container {
    text-align: center;
}

.avatar {
    width: 130px;
    height: 130px;
    background-image: url('Paulo.jfif');
    background-size: cover;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    
  }